.git/**
.github/**
.vscode/**
.config/**
.venv/**
src/**
build/**
tests/**
scripts/**
wasm/**
samples/**
ECMA-376/**
node_modules/**
**/*.fs
**/*.fsproj
**/*.fsx
**/*.rs
**/tsconfig.json
**/*.map
*.vsix
*.log
**/.DS_Store
.gitignore
.editorconfig
package-lock.json
DEVELOPMENT.md
PUBLISHING.md
media/icon.svg
samples
.samples